header {
    width: 100%;
    display: flex;
    padding: 15px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    header {
        flex-wrap: wrap;
    }
}

