.pt-main {
  margin: 0 60px;
  column-gap: 16px;
  columns: 7;
}

@media screen and (max-width: 1750px) {
  .pt-main {
    columns: 6;
    margin: 0 50px;
  }
}
@media screen and (max-width: 1440px) {
  .pt-main {
    columns: 5;
    margin: 0 40px;
  }
}
@media screen and (max-width: 1220px) {
  .pt-main {
    columns: 4;
    margin: 0 30px;
  }
}
@media screen and (max-width: 1000px) {
  .pt-main {
    columns: 3;
    margin: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .pt-main {
    columns: 2;
    margin: 0 10px;
    column-gap: 9px;
  }
}
